// INPUT

.form-control-focus(@color: @input-border-focus) {
	@color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
	&:focus {
		border-color: @color;
		outline: 0;
		.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @{color-rgba}");
	}
}


// BUTTONS

.btn-primary {
	//#gradient > .vertical(lighten(@brand-color, 10%), @brand-color);
	border: 1px solid @brand-color;
	&:hover {
		border: 1px solid darken(@brand-color, 10%);
	}
	&:active,
	&.active {
		background: darken(@brand-color, 10%) !important;
		border: 1px solid darken(@brand-color, 25%) !important;
	}
}

// RANGE SLIDER

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: #eee;
	height: 5px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: @brand-color;
	#gradient > .vertical(lighten(@brand-color, 10%), @brand-color);
	cursor: pointer;
	margin-top: -2px;
}