// Custom variables

@brand-color: #2DAAE1;

@font-family-base: 'Source Sans Pro','Roboto', arial, sans-serif;
@body-bg: #f5f5f5;
@box-margin-bottom: 8px;

@font-size-base: 15px;
@headings-font-weight: 300;
@hr-border: #ddd;

// GRID

@grid-gutter-width: 15px;

@container-tablet: (940px + @grid-gutter-width);
@container-sm: @container-desktop;

// HEADER

@header-height: 150px;

// NAVIGATION

@nav-bg: #15233b;
@nav-bg-light: lighten(@nav-bg, 3%);
@navbar-border-radius: 0;
//@navbar-default-link-hover-bg: #94c11f;
@navbar-default-link-hover-bg: desaturate(lighten(@nav-bg, 20%), 30%);
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg: #2DAAE1;
@navbar-default-color: #fff;
@navbar-default-link-color: #ccc;
@navbar-default-link-hover-color: #fff;
@navbar-margin-bottom: 0;

@nav-link-padding: 10px 20px;

@navbar-default-toggle-border-color: #555;
@navbar-default-toggle-hover-bg: @brand-color;
@navbar-default-toggle-icon-bar-bg: #fff;


@dropdown-link-hover-bg: #efefef;

// LINKS

@link-color: #333;
@link-hover-color: @brand-color;

@border-radius-base: 3px;
@border-radius-large: 3px;
@border-radius-small: 3px;

@btn-primary-bg: @brand-color;

// FORM

@input-border-focus: @brand-color;

// TABS

@nav-tabs-active-link-hover-bg: #f5f5f5;
@nav-tabs-border-color: #e5e5e5;

// PANELS

@panel-default-heading-bg: #fcfcfc;
@panel-footer-bg: #f7f7f7;
