
@import '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300,600,700';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import 'bootstrap/bootstrap';

@import '_var';
@import '_form';
@import '_owl-carousel';

//--------------------
body {
	font-weight: 300;
}

header {
	position: relative;

	.green-bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 25%;
		background: #AAC600;
		width: 100%;
		height: 200px;
		transform: rotate(-10deg);

		@media (max-width: @screen-md-max) {
			top: 30px;
			left: 25%;
		}
		@media (max-width: @screen-sm-max) {
			top: 30px;
			left: 20%;
		}
		@media (max-width: @screen-xs-max) {
			display: none;
		}
	}
	.top {
		height: 100px;
		position: relative;
		overflow: hidden;
		.logo {
			position: absolute;
			width: 250px;
			height: 100px;
			background: transparent url(../images/fluxera-logo.png) no-repeat 0 10px;
			background-size: contain;
			text-indent: -9999px;
		}

	}
	.social {
		padding-top: 30px;
		a {
			color: #fff;
			transition: color .3s;
			&:hover {
				color: #000;
			}
		}
		@media (max-width: @screen-xs-max) {
			a {
				color: #AAC600;
				&:hover {
					color: @brand-color;
				}
			}
		}
	}
}
@media (max-width: @screen-xs-max) {
	header {
		.top {
			height: 80px;
			.logo {
				width: 180px;
			}
		}
		.social {
			padding-top: 25px;
		}
	}
}

.navbar {
	border: 0;
	#gradient > .vertical(@nav-bg-light, @nav-bg);

	.navbar-nav > li > a {
		font-size: 16px;
		font-weight: 400;
	}
}
.navbar-collapse {
	position: relative;
	z-index: 9 !important;
	background: @nav-bg;
	border-top: 0;
}

footer {
	font-size: @font-size-small;
	font-weight: 300;
	padding: 30px 0;
	margin-top: 50px;
	background: #f0f0f0;
	b {
		font-weight: 400;
	}
	ul {
		margin-right: 40px;
	}
	a {
		color: @gray-light;
	}
}

.text-lighter {
	color: #ccc;
}
.lead {
	font-weight: 200;
}